<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Content</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="la la-columns"></i></a></li>
          <li class="breadcrumb-item active">Content</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="row">
    <div class="col-xl-12">
      <!-- Begin Widget 09 -->
      <div class="widget widget-09 has-shadow" style="padding: 20px;">
        <!-- Begin Widget Header  -->
        <div class="widget-header bordered d-flex align-items-center">
          <h2>Add Question</h2>
          <div>
            <div class="styled-checkbox">
              <input [(ngModel)]="fileUpload" type="checkbox" id="check-2">
              <label for="check-2"><strong>Upload Questions (CSV or Excel)</strong></label>
            </div>
          </div>
        </div>
        <div class="widget-body">
          <div class="row">
            <div *ngIf="!fileUpload" class="col-sm-12 col-md-8 offset-md-2">
              <aw-wizard [formGroup]="steps" navBarLayout="large-empty-symbols">
                <aw-wizard-step [navigationSymbol]="{ symbol: '1' }">
                  <div formGroupName="step1">
                    <div class="form-group">
                      <label class="form-control-label">Pillar</label>
                      <ngx-select
                        [allowClear]="true"
                        optionValueField="id"
                        formControlName="pillarId"
                        optionTextField="name"
                        [items]="pillars"
                        (select)="selectionChange($event)"
                      >
                      </ngx-select>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Topic</label>
                      <ngx-select
                        [allowClear]="true"
                        optionValueField="id"
                        formControlName="topicId"
                        optionTextField="name"
                        [items]="topics"
                      >
                      </ngx-select>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Question</label>
                      <textarea class="form-control" rows="4" formControlName="question"></textarea>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Question Type</label>
                      <ngx-select
                        [allowClear]="true"
                        formControlName="questionType"
                        optionValueField="name"
                        optionTextField="name"
                        [items]="questionTypes"
                      >
                      </ngx-select>
                    </div>
                  </div>


                  <div class="wizard-buttons-container">
                    <button class="btn btn-secondary" type="button" awPreviousStep style="visibility: hidden">Previous
                    </button>
                    <button [disabled]="!stepOne.valid" class="btn btn-primary" type="button" awNextStep>Next</button>
                  </div>

                </aw-wizard-step>
                <aw-wizard-step [canEnter]="stepOne.valid" [navigationSymbol]="{ symbol: '2' }">
                  <!--auto generated fields-->
                  <div formArrayName="step2">
                    <button (click)="addStepTwoGroup()" class="btn btn-sm btn-outline-success  margin-bottom-20"
                            style="height: 30px;"><span class="la la-plus"
                                                        style="font-weight: bolder;font-size: 18px;vertical-align: center;"></span>
                    </button>
                    <div *ngFor="let step of stepTwo.controls; let i = index" class="form-group" [formGroupName]="i">
                      <div class="wizard-buttons-container">
                        <label class="form-control-label">Responses</label>
                        <button *ngIf="i > 0" (click)="removeStepTwoGroup(i)"
                                class="btn btn-sm btn-outline-danger  margin-bottom-20" style="height: 30px;">
                          <span class="la la-minus"
                                style="font-weight: bolder;font-size: 18px;vertical-align: center;"></span>
                        </button>
                      </div>

                      <input type="text" formControlName="response" class="form-control">
                      <div class="mb-3" style="margin-top:2%;">
                        <div class="styled-checkbox">
                          <input type="checkbox" formControlName="correct" [id]="i">
                          <label [for]="i">Correct</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="wizard-buttons-container">
                    <button class="btn btn-secondary" type="button" awPreviousStep>Previous</button>
                    <button [disabled]="!stepTwo.valid" class="btn btn-primary" type="button" awNextStep>Next</button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step [canEnter]="stepTwo.valid" [navigationSymbol]="{ symbol: '3' }">

                  <div formGroupName="step3">

                    <div class="form-group">
                      <label class="form-control-label">Strong Point</label>
                      <textarea formControlName="strongPoint" class="form-control" cols="4"></textarea>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Weak Point</label>
                      <textarea formControlName="weakPoint" class="form-control" cols="4"></textarea>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Weight</label>
                      <input type="number" formControlName="weight" class="form-control">
                    </div>

                    <div class="mb-3" style="margin-top:2%;">
                      <div class="styled-checkbox">
                        <input type="checkbox" formControlName="task" id="task">
                        <label for="task">Associated Task Enabled</label>
                      </div>
                    </div>
                  </div>
                  <div class="wizard-buttons-container">
                    <button class="btn btn-secondary" type="button" awPreviousStep>Previous</button>

                    <button [disabled]="!stepThree.valid" *ngIf="associatedTaskEnabled" class="btn btn-primary"
                            type="button" awNextStep>Next
                    </button>
                    <button [disabled]="!stepThree.valid" class="btn btn-primary" (click)="addQuestion()"
                            *ngIf="!associatedTaskEnabled" type="button">Finish
                    </button>
                  </div>


                </aw-wizard-step>
                <aw-wizard-step [canEnter]="stepThree.valid" [navigationSymbol]="{ symbol: '4' }"
                                *ngIf="associatedTaskEnabled">
                  <div formGroupName="step4">
                    <div class="form-group">
                      <label class="form-control-label">Task</label>
                      <input class="form-control" formControlName="task"/>
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Topic</label>
                      <ngx-select
                        [allowClear]="true"
                        optionValueField="id"
                        formControlName="priority"
                        optionTextField="name"
                        [items]="priorities"
                      >
                      </ngx-select>
                    </div>

                  </div>

                  <div class="wizard-buttons-container">
                    <button class="btn btn-secondary" type="button" awPreviousStep>Previous</button>

                    <button [disabled]="!stepFour.valid" class="btn btn-primary" (click)="addQuestion()" type="button">
                      Finish
                    </button>
                  </div>
                </aw-wizard-step>
              </aw-wizard>
            </div>

            <!--file upload codes-->
            <div *ngIf="fileUpload" class="col-lg-12">
              <div class="upload-container">
                <h2><strong>Please select a file from your computer</strong></h2>
                <input (change)="onFileDropped($event.target.files[0])" style="visibility: hidden;" type="file" #fileInput>
                  <div style="display: flex;flex-direction: row;justify-content: center;">
                    <button (click)="onUploadButtonClicked()" style="align-self: center;" class="btn btn-primary margin-right-10">Upload File</button>
                    <p style="font-style: italic;color: #b4b4b4;align-self: center;font-size: 17px;margin-top: 10px"><strong>{{file?.name}}</strong></p>
                  </div>

                <div class="files-drop" appFileDrop [multiple]="false" (filesDropped)="onFileDropped($event)" (filesHovered)="dropZoneEvents($event)" [ngClass]="{'active-item' : dropZoneActive}">
                  <h2 *ngIf="!file">Just drag and drop files here</h2>
                  <h2 *ngIf="file">{{file?.name}}</h2>
                </div>
              </div>
              <button (click)="onUploadExcel()" [disabled]="!file" class="btn margin-top-10 btn-outline-success float-right">Upload</button>
              <div class="clearfix"></div>
            </div>

          </div>
        </div>

      </div>
      <!-- End Widget 09 -->
    </div>
  </div>
</div>








