.upload-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-container > *{
  align-self: center;
}

.upload-container > div.files-drop{
  border: 2px dashed #e8e8e8;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}
.active-item{
  border: 2px dashed #00c400 !important;
  transition: all .5s;
  cursor: pointer;
}
.upload-container > div.files-drop > *{
  align-self: center;
  vertical-align: center;
  color: #eeeeee;
  margin-top: 90px;
}

