<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Dashboard</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="db-default.html"><i class="ti ti-home"></i></a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div class="row">
      <!-- Begin Default -->
      <div class="col-xl-6 d-flex justify-content-center">
        <div class="widget has-shadow">
          <div class="widget-header no-actions mt-3">
            <h2 class="d-block text-center">Smart Home</h2>
          </div>
          <div class="text-center">
            <a class="btn btn-shadow mb-5" href="db-smarthome.html">View Demo</a>
          </div>
          <a href="db-smarthome.html">
            <img src="assets/img/dashboards/db-smarthome.jpg" class="img-fluid pr-4 pl-4" alt="smarthome">
          </a>
        </div>
      </div>
      <!-- End Default -->
      <!-- Begin Default -->
      <div class="col-xl-6 d-flex justify-content-center">
        <div class="widget has-shadow">
          <div class="widget-header no-actions mt-3">
            <h2 class="d-block text-center">Default</h2>
          </div>
          <div class="text-center">
            <a class="btn btn-shadow mb-5" href="db-default.html">View Demo</a>
          </div>
          <a href="db-default.html">
            <img src="assets/img/dashboards/db-default.jpg" class="img-fluid pr-4 pl-4" alt="default">
          </a>
        </div>
      </div>
      <!-- End Default -->

    </div>
  </div>
</div>
