<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Push Content</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="la la-columns"></i></a></li>
          <li class="breadcrumb-item"><a [routerLink]="['../']">Content</a></li>
          <li class="breadcrumb-item active">Push</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="row flex-row">
    <div class="col-xl-12">
      <!-- Begin Widget 09 -->
      <div class="widget widget-09 has-shadow">
        <!-- Begin Widget Header  -->
        <div class="widget-header d-flex align-items-center">
          <h2>Content</h2>
          <button (click)="onPushContent()" *ngIf="pushEnabled" mat-raised-button style="background: #FFCC00; color: white">Push</button>
        </div>

        <div class="widget-body">
          <!--<div class="col-xl-12">
            <div class="col-sm-6">
              &lt;!&ndash;questions come here&ndash;&gt;

            </div>
            <div class="col-sm-6">
              &lt;!&ndash;push them here&ndash;&gt;
            </div>
          </div>-->
          <!--start here-->
          <h2 class="text-center">{{title}}</h2>
          <!--form group-->
          <div class="row">
            <div class="col-md-8 offset-2">
              <div class="form-group">
                <Label class="form-control-label">Pillar</Label>
                <ngx-select
                  [allowClear]="true"
                  optionValueField="id"
                  (select)="onPillarChanged($event)"
                  optionTextField="name"
                  [items]="pillars"
                  placeholder="No Pillar selected"
                >
                </ngx-select>
              </div>
              <div class="form-group">
                <Label class="form-control-label">Topic</Label>
                <ngx-select
                  [allowClear]="true"
                  optionValueField="id"
                  (select)="onTopicChanged($event)"
                  optionTextField="name"
                  [items]="topics"
                  placeholder="No Pillar selected"
                >
                </ngx-select>
              </div>
            </div>
          </div>
          <div *ngIf="!loadingFullContent" class="container">



            <div class="list-container">

              <div class="todo-container column-container">
                <div class="list"
                     cdkDropList
                     #todoList="cdkDropList"
                     [cdkDropListData]="questions"
                     [cdkDropListConnectedTo]="[doneList]"
                     (cdkDropListDropped)="onDrop($event)">
                  <h2>Questions</h2>
                  <mat-card *ngFor="let question of questions" cdkDrag>
                    <mat-card-header>
                      <mat-card-title>{{question.question}}</mat-card-title>
                      <!--<mat-card-subtitle>{{todo.category}}</mat-card-subtitle>-->
                    </mat-card-header>
                  </mat-card>

                  <!--add load more questions here-->
                </div>


                <button style="margin-top: 20px;" *ngIf="questionPage && questionPage.next_page_url" (click)="loadMoreQuestions()"  [disabled]="loadingMore" type="button" class="btn btn-secondary btn-block mb-2">Load More Questions</button>

              </div>

              <div class="done-container column-container">
                <div class="list"
                     cdkDropList
                     #doneList="cdkDropList"
                     [cdkDropListData]="content"
                     [cdkDropListConnectedTo]="todoList"
                     (cdkDropListDropped)="onDrop($event)">
                  <h2>Content</h2>
                  <mat-card *ngFor="let question of content" cdkDrag>
                    <mat-card-header>
                      <mat-card-title>{{question.question}}</mat-card-title>
                      <!--<mat-card-subtitle>{{complete.category}}</mat-card-subtitle>-->
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- End Widget 09 -->
    </div>
  </div>
</div>
