.question{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  transition: transform .4s;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  position: relative;
}
.question:hover{
  transform: scale(1.02);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.27);
}
.question > button{
  position: absolute;
  right: 3px;
  bottom: 3px;
  opacity: 0;
  transition: opacity .7s;
}
.question:hover > button{
  display: block;
  opacity: 1;
}
.question > p{
  font-weight: bold;
  font-size: 14px;
}
