<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Content</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="la la-columns"></i></a></li>
          <li class="breadcrumb-item active">Content</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row flex-row">
    <div class="col-xl-12">
      <!-- Begin Widget 09 -->
      <div class="widget widget-09 has-shadow">
        <!-- Begin Widget Header  -->
        <div class="widget-header d-flex align-items-center">
          <h2>Content</h2>
          <div class="widget-options">
            <div class="dropdown">
              <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                <i class="la la-ellipsis-h"></i>
              </button>
              <div class="dropdown-menu">
                <a [routerLink]="['./add-question']" class="dropdown-item">
                  Add Question
                </a>
                <a [routerLink]="['./push']" class="dropdown-item">
                  Push Content
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="widget-body">
          <div *ngIf="loadingQuestions" class="text-center">
            <app-loader></app-loader>
          </div>
          <ng-template [ngIf]="!loadingQuestions">
            <ng-template [ngIf]="questions.length > 0">
              <div class="row">
                <div *ngFor="let question of questions; let i = index" class="col-sm-6 col-md-4">
                  <div class="question">
                    <p>{{question.question}}</p>
                    <div class="answers">
                      <div *ngFor="let response of question.responses; let resp = index" class="styled-checkbox">
                        <input type="checkbox" [id]="resp" [checked]="response.correct" disabled>
                        <label [for]="resp"><strong>{{response.possible_response}}</strong></label>
                      </div>
                    </div>

                    <!--delete question-->
                    <button (click)="triggerDeleteModal(deleteContent,question,i)" class="btn btn-sm btn-danger"><span class="la la-trash"></span></button>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="questionPage && questionPage.next_page_url">
                <div class="col-xl-12">
                  <button (click)="loadMoreQuestions()" [disabled]="loadingMore" type="button" class="btn btn-secondary btn-block mb-2">Load More Questions</button>
                </div>
              </div>
            </ng-template>

            <ng-template [ngIf]="questions.length < 1">
                <h2 class="text-center">No Questions Available</h2>
            </ng-template>

          </ng-template>
        </div>

      </div>
      <!-- End Widget 09 -->
    </div>
  </div>
</div>

<ng-template #deleteContent let-c="close" let-d="dismiss">
  <app-delete-prompt></app-delete-prompt>
</ng-template>







