<div class="default-sidebar">
  <!-- Begin Side Navbar -->
  <nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
      <li routerLinkActive="active"><a [routerLink]="['./']"><i class="la la-columns"></i><span>Dashboard</span></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/dashboard/content']"><i class="la la-columns"></i><span>Content</span></a></li>
      <li routerLinkActive="active"><a [routerLink]="['./settings']"><i class="la la-cogs"></i><span>Settings</span></a></li>
      <li routerLinkActive="active"><a [routerLink]="['./users']"><i class="la la-cogs"></i><span>Users</span></a></li>
      <li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i><span>Applications</span></a>
        <ul id="dropdown-app" class="collapse list-unstyled pt-0">
          <li><a href="app-calendar.html">Calendar</a></li>
          <li><a href="app-chat.html">Chat</a></li>
          <li><a href="app-mail.html">Mail</a></li>
          <li><a href="app-contact.html">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- End Side Navbar -->
</div>
