<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" >
  <div class="alert-container-warning">
    <p>Are you sure you want to destroy this item?</p>
    <p>This operation cannot be canceled.</p>
  </div>

  <div class="form-group margin-top-10">
    <label class="form-control-label">Type <strong>"destroy"</strong> to complete the operation</label>
    <input [(ngModel)]="security" type="text" class="form-control" #inputElement>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()">
    Cancel
  </button>
  <button type="button" class="btn btn-danger" (click)="deleteConfirmed()" [disabled]="security.toLowerCase() !== text">
    Confirm
  </button>
</div>
