<div class="col-xl-12">
  <div class="widget has-shadow">
    <div class="widget-header bordered no-actions d-flex align-items-center">
      <h4>Update Profile</h4>
    </div>
    <div class="widget-body">
      <div class="col-10 ml-auto row">
        <div class="section-title mt-3 mb-3">
          <h4>01. Personnal Informations</h4>
        </div>
      </div>
      <form class="form-horizontal">

        <div class="row">
          <div class="form-group col-lg-3">
            <label class="form-control-label">First Name</label>
            <input type="text" class="form-control" formControlName="first_name">
          </div>
          <div class="form-group col-lg-3">
            <label class="form-control-label">Other Name</label>
            <input type="text" class="form-control" formControlName="othername">
          </div>
          <div class="form-group col-lg-3">
            <label class="form-control-label">Last Name</label>
            <input type="text" class="form-control" formControlName="last_name">
          </div>
          <div class="form-group col-lg-3">
            <label class="form-control-label">Last Name</label>
            <input type="text" class="form-control" formControlName="last_name">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Contact</label>
            <input type="text" class="form-control" formControlName="phone">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
          </div>
        </div>

      </form>
      <div class="col-10 ml-auto">
        <div class="section-title mt-3 mb-3">
          <h4>02. Address Informations</h4>
        </div>
      </div>
      <form class="form-horizontal">
        <div class="row">
          <div class="form-group col-lg-4">
            <label class="form-control-label">Country</label>
            <input type="text" class="form-control" formControlName="country_id">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Region</label>
            <input type="text" class="form-control" formControlName="region_id">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">District</label>
            <input type="text" class="form-control" formControlName="district_id">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Community</label>
            <input type="text" class="form-control" formControlName="community">
          </div>
          <div class="form-group col-lg-4">
            <label class="form-control-label">Address</label>
            <input type="text" class="form-control" formControlName="address">
          </div>

        </div>


      </form>
      <div class="em-separator separator-dashed"></div>
      <div class="text-right">
        <button class="btn btn-gradient-01" type="submit">Save Changes</button>
        <button class="btn btn-shadow" type="reset">Cancel</button>
      </div>
    </div>
  </div>

</div>



