<div class="container-fluid no-padding h-100">
  <div class="row flex-row h-100 bg-white">
    <!-- Begin Left Content -->
    <div class="col-xl-8 col-lg-6 col-md-5 no-padding">
      <div class="elisyam-bg background-01">
        <div class="elisyam-overlay overlay-01"></div>
        <div class="authentication-col-content mx-auto">
          <h1 class="gradient-text-01">
            Gold Management Solution!
          </h1>
          <span class="description">
            A Solution for Solidaridad Gold Program
           </span>
        </div>
      </div>
    </div>
    <!-- End Left Content -->
    <!-- Begin Right Content -->
    <div class="col-xl-4 col-lg-6 col-md-7 my-auto no-padding">
      <!-- Begin Form -->
      <div class="authentication-form mx-auto">
        <div class="logo-centered">
          <a href="db-default.html">
            <img src="assets/img/logo.png" alt="logo">
          </a>
        </div>
        <h3 class="text-center">SIGN IN</h3>
        <form id="signInForm" (ngSubmit)="signIn()" [formGroup]="signInForm" autocomplete="off">
          <div class="group material-input">
            <input type="text" formControlName="username">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Username</label>
          </div>
          <div class="group material-input">
            <input type="password" formControlName="password" autocomplete="none">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
          </div>
        </form>
        <div class="row">
          <div class="col text-left">
            <div class="styled-checkbox">
              <input type="checkbox" name="checkbox" id="remeber">
              <label for="remeber">Remember me</label>
            </div>
          </div>
          <div class="col text-right">
            <a href="pages-forgot-password.html">Forgot Password ?</a>
          </div>
        </div>
        <div class="sign-btn text-center">
          <button [disabled]="!signInForm.valid || processing" type="submit" form="signInForm" class="btn btn-lg btn-gradient-02">
            Sign in
          </button>
        </div>
        <!--<div class="register">
          Don't have an account?
          <br>
          <a href="pages-register.html">Create an account</a>
        </div>-->
      </div>
      <!-- End Form -->
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Row -->
</div>
