<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Settings</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../']"><i class="la la-columns"></i></a></li>
          <li class="breadcrumb-item active">Settings</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row flex-row">
  <div  class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('regions')" class="widget widget-12 has-shadow border-district">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-district"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-district">Regions</div>
            <div class="number">
              <span>{{count?.regions}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div  (click)="goTo('districts')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Districts</div>
            <div class="number">
              <span >{{count?.district}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div  (click)="goTo('communities')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Community</div>
            <div class="number">
              <span>{{count?.communities}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('educational-level')" class="widget widget-12 has-shadow border-education">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-cube text-education"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-education">Education Level</div>
            <div class="number">
              <span>{{count?.edulevels}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('programs')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Program</div>
            <div class="number">
              <span>{{count?.programs}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('pillars')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Pillar</div>
            <div class="number">
              <span>{{count?.pillars}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('topics')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Topic</div>
            <div class="number">
              <span>{{count?.topicss}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('mines')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Mines</div>
            <div class="number">
              <span>0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-6">
    <div (click)="goTo('roles')" class="widget widget-12 has-shadow border-globe">
      <div class="widget-body">
        <div class="media">
          <div class="align-self-center ml-5 mr-5">
            <i class="ion-android-globe text-globe"></i>
          </div>
          <div class="media-body align-self-center">
            <div class="title text-globe">Roles</div>
            <div class="number">
              <span>0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
