$settings-globe : #427bf5;
$settings-district : #fcba03;
$settings-education : #0ec934;
.widget{
  cursor: pointer;
}
.text-globe{
  color: $settings-globe;
}
.border-globe{
  border-left: 6px solid lighten($settings-globe,20);
}
.text-district{
  color: $settings-district;
}
.border-district{
  border-left: 6px solid lighten($settings-district,20);
}
.text-education{
  color: $settings-education;
}
.border-education{
  border-left: 6px solid lighten($settings-education,20);
}
