<app-loader></app-loader>
<div class="page">
  <!-- Begin Header -->
  <app-header></app-header>
  <!-- End Header -->
  <!-- Begin Page Content -->
  <div class="page-content d-flex align-items-stretch">
    <app-sidebar></app-sidebar>
    <!-- End Left Sidebar -->
    <div class="content-inner">
      <div class="container-fluid">
        <!-- Begin Page Header-->
        <router-outlet></router-outlet>
      </div>
      <!-- End Container -->
      <app-footer></app-footer>
    </div>
  </div>
  <!-- End Page Content -->
</div>
