@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

body{
  font-family: 'Noto Sans', sans-serif;
}

.wizard-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card, mat-card-title, mat-card-subtitle, .mat-card-subtitle {
  font-family: "Andale Mono", serif;
  background-color: #FFCC00;
  color: white;
}
