<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Regions</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="la la-columns"></i></a></li>
          <li  class="breadcrumb-item"><a [routerLink]="['../']">Settings</a></li>
          <li class="breadcrumb-item active">Regions</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row flex-row">
  <div class="col-xl-12">
    <!-- Begin Widget 09 -->
    <div class="widget widget-09 has-shadow">
      <!-- Begin Widget Header -->
      <div class="widget-header d-flex align-items-center">
        <h2>Manage Regions</h2>
        <div class="widget-options">
          <button (click)="open(content)" type="button" class="btn btn-shadow">{{editMode? 'Edit Region' : 'Add Region'}}</button>
        </div>
      </div>
      <!-- End Widget Header -->
      <!-- Begin Widget Body -->
      <div class="widget-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" (input)="queryChanged()" [(ngModel)]="searchQuery" placeholder="Filter Regions" class="form-control">
                </div>
            </div>
          <div class="col-md-5"></div>
          <div class="col-md-3">
            <div class="flex-row justify-content-around">
              <label class="form-control-label align-self-center">Show</label>
              <select [(ngModel)]="perPage" (change)="pageChanged()" style="width: 80px" name="" id="" class="form-control float-right">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <label for="" class="form-control-label align-self-center">entries</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <ngx-datatable
              headerHeight="50"
              [reorderable]="reorderable"
              [columnMode]="columnMode.force"
              class="material"
              [loadingIndicator]="loadingIndicator"
              [rows]="pageData?.data"
              rowHeight="50"
              footerHeight="50"
              [columns]="columns"
              [externalPaging]="true"
              [count]="pageData?.total"
              [offset]="pageData?.current_page - 1"
              [limit]="pageData?.per_page"
              (page)="fetchRecord($event)"
            >

            </ngx-datatable>

            <ng-template #actionHeader>
              <strong>Actions</strong>
            </ng-template>
            <ng-template #actionField let-row="row" let-value="value">
              <button class="btn btn-sm btn-primary margin-right-5" (click)="showEditModal(row,content)"><span class="la la-pencil"></span></button>
              <button (click)="triggerDeleteModal(deleteContent,row)" class="btn btn-sm btn-danger"><span class="la la-trash"></span></button>
            </ng-template>
          </div>
          <div class="col-xl-12">
            <div class="flex-row margin-top-25">
              <button (click)="exportExcel()" class="btn btn-primary">Export Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Widget 09 -->
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Region</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form [formGroup]="regionForm">
      <div class="form-group">
        <label class="form-control-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label class="form-control-label">Country</label>
        <ngx-select
          [allowClear]="true"
          formControlName="countryId"
          optionValueField="id"
          optionTextField="name"
          [items]="countries"
          placeholder="No country selected"
        >
        </ngx-select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!regionForm.valid || processing" (click)="editMode ? updateRegion() : addRegion()">
      {{editMode? 'Update' : 'Save'}}
    </button>
  </div>
</ng-template>

<ng-template #deleteContent let-c="close" let-d="dismiss">
  <app-delete-prompt></app-delete-prompt>
</ng-template>
