<div class="row">
  <div class="page-header">
    <div class="d-flex align-items-center">
      <h2 class="page-header-title">Users</h2>
      <div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../']"><i class="la la-columns"></i></a></li>
          <li class="breadcrumb-item active">Users</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="main" [ngIfElse]="adduser">
  <div>

    <div class="row flex-row">
      <div class="col-xl-12">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
          <!-- Begin Widget Header  -->
          <div class="widget-header d-flex align-items-center">
            <h2>Manage Users</h2>
            <div class="widget-options">
              <button (click)="open()" type="button" class="btn btn-shadow">Add User</button>
            </div>
          </div>
          <!-- End Widget Header -->
          <!-- Begin Widget Body -->
          <div class="widget-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" (input)="queryChanged()" [(ngModel)]="searchQuery" placeholder="Filter District"
                         class="form-control">
                </div>
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-3">
                <div class="flex-row justify-content-around">
                  <label class="form-control-label align-self-center">Show</label>

                  <select style="width: 80px" name="" [(ngModel)]="perPage" (change)="pageChanged()" id=""
                          class="form-control float-right">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  <label for="" class="form-control-label align-self-center">entries</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <ngx-datatable
                  headerHeight="50"
                  [reorderable]="reorderable"
                  [columnMode]="columnMode.force"
                  class="material"
                  [loadingIndicator]="loadingIndicator"
                  [rows]="pageData?.data"
                  rowHeight="50"
                  footerHeight="50"
                  [columns]="columns"
                  [externalPaging]="true"
                  [count]="pageData?.total"
                  [offset]="pageData?.current_page - 1"
                  [limit]="pageData?.per_page"
                  (page)="fetchRecord($event)"
                >

                </ngx-datatable>

                <ng-template #actionHeader>
                  <strong>Actions</strong>
                </ng-template>
                <ng-template #actionField let-row="row" let-value="value">
                  <button class="btn btn-sm btn-primary margin-right-5" (click)="showEditModal(row)"><span
                    class="la la-pencil"></span></button>
                  <button (click)="triggerDeleteModal(deleteContent,row)" class="btn btn-sm btn-danger"><span
                    class="la la-trash"></span></button>
                </ng-template>

              </div>
              <div class="col-xl-12">
                <div class="flex-row margin-top-25">
                  <button (click)="exportExcel()" class="btn btn-primary">Export Excel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Widget 09 -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #adduser>

  <div class="col-xl-12">
    <div class="widget has-shadow">
      <div class="widget-header d-flex align-items-center">
        <h2>{{editMode ? 'Edit User' : 'Add User'}}</h2>
        <div class="widget-options">
          <button (click)="close()" type="button" class="btn btn-shadow">Back</button>
        </div>
      </div>
      <div class="widget-body">
        <div class="col-10 ml-auto row">
          <div class="section-title mt-3 mb-3">
            <h4>01. Personnal Informations</h4>
          </div>
        </div>
        <form class="form-horizontal" [formGroup]="userForm">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">First Name</label>
                <input type="text" class="form-control" formControlName="first_name">
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Last Name</label>
              <input type="text" class="form-control" formControlName="last_name">
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Other Name</label>
              <input type="text" class="form-control" formControlName="other_name">
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Username</label>
              <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Date of Birth</label>
              <input type="text"
                     placeholder="Datepicker"
                     class="form-control"
                     [maxDate]="maxDate"
                     [minDate]="minDate"
                     formControlName="dob"
                     value="{{ dob | date:'yyyy-MM-dd'}}"
                     bsDatepicker>

            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Gender</label>
              <select class="form-control" name="gender" formControlName="gender" id="gender">
                <option value="female" >FEMALE</option>
                <option value="male" >MALE</option>
                <option value="others">OTHERS</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Contact</label>
              <input type="text" class="form-control" formControlName="phone">
            </div>

          </div>
          <div class="col-10 ml-auto">
            <div class="section-title mt-3 mb-3">
              <h4>02. Address Informations</h4>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-control-label">Country</label>
              <ngx-select
                [allowClear]="true"
                formControlName="countryId"
                optionValueField="id"
                optionTextField="name"
                [items]="countries"
                (select)="selectionChanged($event)"
              >
              </ngx-select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Region</label>
              <ngx-select
                [allowClear]="true"
                formControlName="regionId"
                optionValueField="id"
                optionTextField="name"
                [items]="regions"
                (select)="selectionChange($event)"
              >
              </ngx-select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">District</label>
              <ngx-select
                [allowClear]="true"
                formControlName="districtId"
                optionValueField="id"
                optionTextField="name"
                [items]="districts"
                (select)="selectionChang($event)"
              >
              </ngx-select>
            </div>

            <div class="form-group col-md-6">
              <label class="form-control-label">Comomunity</label>
              <ngx-select
                [allowClear]="true"
                formControlName="communityId"
                optionValueField="id"
                optionTextField="name"
                [items]="community"
              >
              </ngx-select>
            </div>
            <div class="form-group col-md-6">
              <label class="form-control-label">Address</label>
              <input type="text" class="form-control" formControlName="address">
            </div>
          </div>

        </form>
        <div class="em-separator separator-dashed"></div>
        <div class="text-right">
          <button  type="submit" class="btn btn-outline-dark"
                  (click)="editMode ? updateUser() : addUser()">{{editMode ? 'Update' : 'Save'}}</button>
          <button class="btn btn-shadow" type="reset">Cancel</button>
        </div>
      </div>
    </div>

  </div>


</ng-template>

<ng-template #actionHeader>
  <strong>Actions</strong>
</ng-template>
<ng-template #actionField let-row="row" let-value="value">
  <button class="btn btn-sm btn-primary margin-right-5" (click)="showEditModal(row)"><span
    class="la la-pencil"></span></button>
  <button (click)="triggerDeleteModal(deleteContent,row)" class="btn btn-sm btn-danger"><span
    class="la la-trash"></span></button>
</ng-template>


<ng-template #deleteContent let-c="close" let-d="dismiss">
  <app-delete-prompt></app-delete-prompt>
</ng-template>
